@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255, 0.95;
  --background-start-rgb: 245, 226, 226, 0.91;
  --background-end-rgb: 177, 173, 219, 0.20;
}

body {
  color: rgba(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}